add_service(system_app, system_suspend_control_internal_service)
add_service(system_app, system_suspend_control_service)
add_service(system_app, tracingproxy_service)

allow system_app privapp_data_file:dir search;

# Allow system_app to set cabc props
set_prop(system_app, system_cabc_prop)

get_prop(system_app, system_oplus_project_prop)

# Call
binder_call(system_app, system_suspend)
binder_call(system_app, storaged)
